/* header has a classname so that article's header won't inherit this */
.profile-background {
  background-image: url('../images/background2.jfif');
  background-repeat: no-repeat;
  background-size: cover;
  height: 19em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 4.5em; /* same as the height of nav */
}

.profile-pic {
  margin: 5px;
}

.name {
  text-align: center;
  font-size: 1.1em;
}

.first-name {
  font-weight: 900;
}
