@media only screen and (min-width: 1024px) {
  #media-query-box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 4em;
  }

  .profile-background {
    min-width: 25%;
    margin-left: 2em;
    margin-top: 4em;
    padding-top: 0;
    background-image: url('https://wallpaperaccess.com/full/824786.jpg');
  }

  nav,
  #new-tweet button {
    background-color: #d1a2a9;
  }

  #go-up-btn:hover i,
  .tweet i {
    color: #d1a2a9;
  }

  #new-tweet textarea {
    border-bottom: 0.2em solid #aa5461;
  }

  #new-tweet #tweet-text:focus {
    box-shadow: 0 0 0.6em #e5cace;
  }
}
