nav {
  height: 4.5em;
  width: 100%;
  line-height: 50px;

  background-color: #304387;
  color: white;
  padding: 1.5em;
  display: flex;
  justify-content: space-between;

  overflow: hidden;
  position: fixed;
  top: 0;
}

nav .title {
  font-family: 'Bungee', cursive;
  font-size: 40px;
  text-decoration: none;
  color: white;
}

.write-tweet-btn {
  border: none;
  background-color: transparent;
  color: white;
  padding: 0.5em;
  cursor: pointer;
}

.write-tweet-btn:focus {
  outline: none;
}

.write-tweet-btn i {
  color: yellow;
}

.write-tweet-btn:hover i {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}

/* animation for icon */
.move-up-and-down {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}
@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
