.tweet {
  border: 5px solid darkgrey;
  margin: 2em 0;
}

.tweet article {
  padding: 1em;
}

/* Make the name text beside img middle */
.tweet img {
  vertical-align: middle;
  height: 3em;
}

/* Make the alias-name same line with img & name text on the left */
.tweet header {
  line-height: 3em;
}

.tweet header,
.tweet footer {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

p {
  padding: 0 1em;
}

.tweet footer {
  padding-top: 1em;
  border-top: 5px solid darkgrey;
}

.tweet i {
  color: #304387;
}
