.tweet {
  border: 5px solid #949FAA;
  margin: 2em 0;
}

article.tweet {
  padding: 1em;
}

article.tweet:hover {
  box-shadow: 0.6em 0.6em rgb(133, 131, 131, 0.3);
}

/* Make the name text beside img vetically centered */
.tweet img {
  vertical-align: middle;
  height: 3em;
}

/* Make the alias-name same line with img & name text on the left */
.tweet header {
  line-height: 3em;
}

.tweet header,
.tweet footer {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.alias-name{
  color: rgb(177, 175, 175);
}

.tweet p {
  padding: 0 1em;
}

.tweet footer {
  padding-top: 1em;
  border-top: 5px solid #949FAA;
}

.tweet i {
  color: #304387;
}

/* classes to be toggled by jQuery */
.hide{ 
  display: none;
}

.bolder{
  font-weight: 600;
}

.text-shadow{
  text-shadow: 0.025em 0.025em #4e5e98;
}

